.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo {
  z-index: 2;
  margin: 0;
  width: 183px;
  /* выше установили размер 1 элемента брифа */
}

.logo_place_header {
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  /*position: absolute;
  left: 64px;*/
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
  margin: 0;
  margin-left: 64px;
  /* выше установили размер 2 элемента брифа */
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  z-index: 2;
  font-weight: normal;
  margin: 0;
  /* выше установили размер 3 элемента брифа */
}

.header__link {
  font-size: 18px;
  color: #2f80ed;
  margin: 0;
  /* выше установили размер 4 элемента брифа */
}

.header__main-illustranion {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  /* выше установили размер 5 элемента брифа */
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  /* выше установили размер 6 элемента брифа, приведен пример двух селекторов, чтобы вы вспомнили запись элемента */
}



/*!!! не нашел дл чего!!! и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.description {
  /*margin-left: 64px;*/
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.two-columns {
  display: flex;
  margin: 0;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  font-weight: normal;
  margin-top: 0px;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
    line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 30px;
}

.two-columns__main-text :last-child {
  margin-bottom: 0px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph.two-columns__paragraph_del-margen {
  margin-top: 0;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin-left: 64px;*/
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0px;
}

.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin-bottom: 0px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0px;
}

.feynman {
  margin-top: 100px;
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*margin-left: 64px;*/
  align-items: center;
}

.feynman__img {
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0px;
  left: 0px;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 0px;
  /*position: absolute;*/
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48pt;
  color: #2f80ed;
}

.kaufman {
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin-left: 64px;*/
  /*margin-top: 100px;*/
  padding-bottom: 90px;
}

.section-title_theme_dark {
  margin-top: 90px;
  color:white;
  z-index: 2;
}
.section-subtitle_theme_dark {
  margin-top: 20px;
  color:white;
  z-index: 2;
}

.table_theme_dark {
  color:white;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  color:white;
  z-index: 2;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color:white;
  z-index: 2;
}

.table__text_theme_dark {
  color:white;
  z-index: 2;
}

.kaufman__triangle {
  position: absolute;
  width: 867px;
  height: 877px;
  z-index: 1;
  right: -210px;
  top: 0px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
}

.footer {
  display: flex;
  min-height: 350px;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
}

.footer__autor {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column_heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  margin-top: 0px;
}

.footer__column_heading_string {
  display: flex;
  margin-bottom: 5px;
  color: white;
}

.footer__column_links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__social_icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column_link {
  margin: 0px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
